@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title!</h2>
<h3>@ViewBag.Message</h3>

<h4>Software Engineer and Coding Instructor</h4>

<address>
    Detroit, MI<br />
    <abbr title="Phone">P:</abbr>
    586.339.4143
</address>

<address>
    <strong>Email: </strong> <a href="mailto:Lanna_LMB@hotmail.com">Lanna_LMB@hotmail.com</a><br />
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/lanna-brasure/">Connect Here!</a><br />
    <strong>GitHub: </strong> <a href="https://github.com/LannaLMB">Check Out My Code.</a>
</address>