@{
    ViewBag.Title = "Home Page";
}

<h5 style="text-align:center">Please Enter a Name to Drop into the Hat and then Press [Enter]:  </h5>

<!--  Add a Name  -->
<form action="/Home/AddName" style="text-align:center">

    Name:  <input type="text" placeholder=" Enter a Name" name="name" />

    <input type="hidden" />
</form>

<br />

<!--  Draw a Name  -->
<form action="/Home/DrawName" style="text-align:center">

    <input type="submit" value="Draw a Name!" />

</form>