@{
    ViewBag.Title = "Home Page";
}

<h5>Please Enter a Name to Drop into the Hat and then Press [Enter]:  </h5>

<form action="/Home/AddName">

    Name:  <input type="text" name="name" />

    <input type="hidden" />
</form>