@{
    ViewBag.Title = "Home Page";
}

<h5 style="text-align:center">Please Enter a Name to Drop into the Hat and then Press [Enter]:  </h5>

<!--  Add a Name  -->
<form action="/Home/AddName" style="text-align:center">

    <!-- we will require this field so that a user cannot enter a null or empty name -
         using a regex to make sure a user doesn't attempt to submit whitespace as a name

        RegEx Break Down:  https://zellwk.com/blog/check-empty-input-css/
         .*  >>>  Any character
         \S  >>>  Followed one non-whitespace character
         .*  >>>  Followed by any character
    -->

    Name:  <input type="text" placeholder=" Enter a Name" name="name" required pattern=".*\S.*" />

    <input type="hidden" />
</form>

<br />

<!--  Draw a Name  -->
<form action="/Home/DrawName" style="text-align:center">

    <input type="submit" value="Draw a Name!" />

</form>